deploy/
**/*.log
**/*.md
**/.cache
**/.scannerwork
**/prisma-cloud-scan-result*.json
**/report.*.json

**/*~
**/Thumbs.db
**/[Dd]esktop.ini
**/.DS_store
**/.AppleDouble
**/.LSOverride
**/._*

**/.fleet
**/.idea
**/.vscode
**/*.code-workspace
**/*.sublime-*

**/.npm
**/*.tgz
**/.eslintcache

**/node_modules/
**/jspm_packages/
**/web_modules/
**/vendor/

**/dist/
