# This is an example environment file for the backend service.
TIMEZONE='Asia/Dhaka'

# File Upload Configuration
FOLDER='./uploads'
MAX_UPLOAD_BYTES_PER_IP=524288000
MAX_DOWNLOAD_BYTES_PER_IP=524288000
PROVIDER='local'

# Database Configuration
DB_RELATIVE_PATH='./data/files.db'

# File Cleanup Configuration
FILE_CLEANUP_ENABLED=true
FILE_CLEANUP_INACTIVITY_DAYS=7
FILE_CLEANUP_SCHEDULE="* * * * *"