#############################################################
# Docker Compose Common Settings
#############################################################

# Necessary for Windows
# COMPOSE_CONVERT_WINDOWS_PATHS=0

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=file-sharing-app

# Timezone
TIMEZONE=Asia/Dhaka

# UID & GID
UID=1000
GID=1000

# Build Mode ['dev', 'prod']
DOCKER_BUILD_MODE=dev

PORT=9505
